.idea/AnnotatedSentence.iml
cmake-build-debug/AnnotatedSentence.cbp
cmake-build-debug/libAnnotatedSentence.a
cmake-build-debug/CMakeFiles/3.13.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.13.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.13.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.13.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.13.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/AnnotatedWord.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/build.make
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/cmake_clean_target.cmake
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/CXX.includecache
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/depend.internal
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/depend.make
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/flags.make
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/link.txt
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/progress.make
cmake-build-debug/TestAnnotatedCorpus
cmake-build-debug/CMakeFiles/3.14.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.14.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.14.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.14.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.14.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.14.2/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.14.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.14.2/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.14.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/TestAnnotatedCorpus.dir/build.make
cmake-build-debug/CMakeFiles/TestAnnotatedCorpus.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/TestAnnotatedCorpus.dir/depend.make
cmake-build-debug/CMakeFiles/TestAnnotatedCorpus.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/TestAnnotatedCorpus.dir/flags.make
cmake-build-debug/CMakeFiles/TestAnnotatedCorpus.dir/link.txt
cmake-build-debug/CMakeFiles/TestAnnotatedCorpus.dir/progress.make
cmake-build-debug/CMakeFiles/3.15.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.15.3/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.15.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/AnnotatedCorpus.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/AnnotatedPhrase.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/AnnotatedSentence.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/AutoProcessor/AutoArgument/TurkishSentenceAutoArgument.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/AutoProcessor/AutoDisambiguation/SentenceAutoDisambiguator.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/AutoProcessor/AutoDisambiguation/TurkishSentenceAutoDisambiguator.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/AutoProcessor/AutoNER/SentenceAutoNER.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/AutoProcessor/AutoNER/TurkishSentenceAutoNER.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/AutoProcessor/AutoPredicate/SentenceAutoPredicate.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/AutoProcessor/AutoPredicate/TurkishSentenceAutoPredicate.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/AutoProcessor/AutoSemantic/SentenceAutoSemantic.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/AutoProcessor/AutoSemantic/TurkishSentenceAutoSemantic.cpp.o
cmake-build-debug/CMakeFiles/TestAnnotatedCorpus.dir/AnnotatedCorpus.cpp.o
cmake-build-debug/CMakeFiles/TestAnnotatedCorpus.dir/AnnotatedPhrase.cpp.o
cmake-build-debug/CMakeFiles/TestAnnotatedCorpus.dir/AnnotatedSentence.cpp.o
cmake-build-debug/CMakeFiles/TestAnnotatedCorpus.dir/AnnotatedWord.cpp.o
cmake-build-debug/CMakeFiles/TestAnnotatedCorpus.dir/CXX.includecache
cmake-build-debug/CMakeFiles/TestAnnotatedCorpus.dir/depend.internal
cmake-build-debug/CMakeFiles/TestAnnotatedCorpus.dir/TestAnnotatedCorpus.cpp.o
cmake-build-debug/CMakeFiles/TestAnnotatedCorpus.dir/AutoProcessor/AutoArgument/TurkishSentenceAutoArgument.cpp.o
cmake-build-debug/CMakeFiles/TestAnnotatedCorpus.dir/AutoProcessor/AutoDisambiguation/SentenceAutoDisambiguator.cpp.o
cmake-build-debug/CMakeFiles/TestAnnotatedCorpus.dir/AutoProcessor/AutoDisambiguation/TurkishSentenceAutoDisambiguator.cpp.o
cmake-build-debug/CMakeFiles/TestAnnotatedCorpus.dir/AutoProcessor/AutoNER/SentenceAutoNER.cpp.o
cmake-build-debug/CMakeFiles/TestAnnotatedCorpus.dir/AutoProcessor/AutoNER/TurkishSentenceAutoNER.cpp.o
cmake-build-debug/CMakeFiles/TestAnnotatedCorpus.dir/AutoProcessor/AutoPredicate/SentenceAutoPredicate.cpp.o
cmake-build-debug/CMakeFiles/TestAnnotatedCorpus.dir/AutoProcessor/AutoPredicate/TurkishSentenceAutoPredicate.cpp.o
cmake-build-debug/CMakeFiles/TestAnnotatedCorpus.dir/AutoProcessor/AutoSemantic/SentenceAutoSemantic.cpp.o
cmake-build-debug/CMakeFiles/TestAnnotatedCorpus.dir/AutoProcessor/AutoSemantic/TurkishSentenceAutoSemantic.cpp.o
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/Makefile
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/3.17.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.17.3/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.17.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/AutoProcessor/AutoPredicate/SentenceAutoFramePredicate.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/AutoProcessor/AutoPredicate/TurkishSentenceAutoFramePredicate.cpp.o
cmake-build-debug/CMakeFiles/TestAnnotatedCorpus.dir/AutoProcessor/AutoPredicate/SentenceAutoFramePredicate.cpp.o
cmake-build-debug/CMakeFiles/TestAnnotatedCorpus.dir/AutoProcessor/AutoPredicate/TurkishSentenceAutoFramePredicate.cpp.o
