.idea/AnnotatedSentence.iml
cmake-build-debug/AnnotatedSentence.cbp
cmake-build-debug/libAnnotatedSentence.a
cmake-build-debug/CMakeFiles/3.13.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.13.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.13.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.13.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.13.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/AnnotatedWord.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/build.make
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/cmake_clean_target.cmake
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/CXX.includecache
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/depend.internal
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/depend.make
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/flags.make
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/link.txt
cmake-build-debug/CMakeFiles/AnnotatedSentence.dir/progress.make
cmake-build-debug/TestAnnotatedCorpus
cmake-build-debug/CMakeFiles/3.14.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.14.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.14.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.14.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.14.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.14.2/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.14.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.14.2/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.14.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/TestAnnotatedCorpus.dir/build.make
cmake-build-debug/CMakeFiles/TestAnnotatedCorpus.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/TestAnnotatedCorpus.dir/depend.make
cmake-build-debug/CMakeFiles/TestAnnotatedCorpus.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/TestAnnotatedCorpus.dir/flags.make
cmake-build-debug/CMakeFiles/TestAnnotatedCorpus.dir/link.txt
cmake-build-debug/CMakeFiles/TestAnnotatedCorpus.dir/progress.make
